# Telegram files log level, ALL < FINEST < FINER < FINE < CONFIG < INFO < WARNING < SEVERE < OFF
LOG_LEVEL=INFO
APP_ENV=prod
# The root directory of the application
APP_ROOT=/app/data

# PUID and PGID are the user id and group id of the user who owns the files in the mounted volume.
# PUID: 1000
# PGID: 1000

# The port on which the nginx listens for incoming connections, default is 80
# NGINX_PORT: 80

# only use in test
#TDLIB_PATH=
#JAVA_HOME=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
# Value 0 corresponds to fatal errors, value 1 corresponds to errors, value 2 corresponds to warnings and debug warnings, value 3 corresponds to informational, value 4 corresponds to debug, value 5 corresponds to verbose debug, value greater than 5 and up to 1023 can be used to enable even more logging.
TELEGRAM_LOG_LEVEL=0
